.DS_Store
node_modules

# Editor directories and files
.idea
.vscode/*.json
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Log files
npm-debug.log*
npm-error.log*
yarn-debug.log*
yarn-error.log*

# ignoring generated JS test file
test/tests.js
