.DS_Store
node_modules

# Editor directories and files
.idea
.vscode/*.json
!.vscode/launch.json
!.vscode/tasks.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Log files
npm-debug.log*
npm-error.log*
yarn-debug.log*
yarn-error.log*

# Istanbul output
.nyc_output

# Ignoring generated JS files
dist
*.js.map
benchmark/bundles

